<div class="container mt-4">
  <div class="text-center">
    <h1>MarketApp</h1> 

    <%= link_to 'Cadastrar Produtos', products_path, class: "btn btn-info" %>
    <%= link_to 'Ver Pedidos', orders_path, class: "btn btn-info" %>
    <%= link_to 'Cadastrar Promoções', promotions_path, class: "btn btn-info" %>
  </div>
</div>
